{% load staticfiles %}
<!-- Our Service -->
<div class="our-service-section text-center g-heading-v8 equal-height-columns" id="about_us" style="position: relative">
    <div class="container-fluid">
        <div class="row">
            <!-- Service Info -->
            <div class="col-md-3 our-service-info equal-height-column">
                <h2 class="h2"><strong>About</strong> Us</h2>

                <p>Donec eleifend mauris eu leo varius consectetur. Aliquam luctus a lorem ac rutrum. Cras in nulla
                    id mi ornare vestibulum. Donec et magna nulla. Pellentesque ut ipsum id nibh pretium blandit
                    quis ac erat.</p>
            </div>
            <!-- End Service Info -->

            <div class="col-md-9 our-services-list-wrapper">
                <div class="our-services-list">
                    <!-- Item 1 -->
                    <div class="our-services-list-item equal-height-column">
                        <div class="img-wrapper img-wrapper--shadow"><img
                                src="{% static 'unify_assets/img-temp/services/picjumbo.com_HNCK4183.jpg' %}" alt="ALT"
                                class="img-reposnsive"></div>
                        <h3>VISSION</h3>

                        <p>
                            MGayle Outdoor Adventures facilitates life-changing wilderness experiences through exclusive
                            fitness training support, comprehensive trip planning, management, and education, while
                            encouraging stimulating thought- provoking discussions of the areas explored.
                        </p>
                    </div>
                    <!-- End Item 1 -->

                    <!-- Item 2 -->
                    <div class="our-services-list-item equal-height-column">
                        <div class="img-wrapper img-wrapper--shadow"><img
                                src="{% static 'unify_assets/img-temp/services/picjumbo.com_HNCK8242.jpg' %}" alt="ALT"
                                class="img-reposnsive"></div>
                        <h3>MISSION</h3>

                        <p>MGayle Outdoor Adventures delivers unprecedented, life-changing fitness training interwoven
                            with wilderness adventure and cultural opportunities.</p>
                    </div>
                    <!-- End Item 2 -->

                    <!-- Item 3 -->
                    <div class="our-services-list-item equal-height-column">
                        <div class="img-wrapper img-wrapper--shadow"><img
                                src="{% static 'unify_assets/img-temp/services/picjumbo.com_IMG_6358.jpg' %}" alt="ALT"
                                class="img-reposnsive"></div>
                        <h3>WHY TRAVEL WITH US</h3>

                        <p>
                            Michael believes lasting change begins with a personal commitment, backed by a deeply rooted
                            emotional investment in the decision to grow.
                        </p>
                        <a href="#" data-toggle="modal" class="btn-u btn-u-lg btn-u-red btn-u-upper"
                           data-target="#travelModal">Learn more</a>

                    </div>
                    <!-- End Item 3 -->
                    <!-- Item 4 -->
                    <div class="our-services-list-item equal-height-column">
                        <div class="img-wrapper img-wrapper--shadow"><img
                                src="{% static 'unify_assets/img-temp/services/picjumbo.com_IMG_6358.jpg' %}" alt="ALT"
                                class="img-reposnsive"></div>
                        <h3>ABOUT MICHEAL GAYLE</h3>

                        <p>
                            Michael Gayle, founder of MGayle Outdoor Adventures, brings passion and enthusiasm to all of
                            his endeavors, professional and personal.
                        </p>
                        <a href="#" data-toggle="modal" class="btn-u btn-u-lg btn-u-red btn-u-upper"
                           data-target="#michealModal">Learn more</a>

                    </div>
                    <!-- End Item 4 -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Our Service -->

<div class="modal fade" id="travelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title">WHY TRAVEL WITH US</h4>
            </div>
            <div class="modal-body">
                <p>
                    In his 18-­‐plus years as a personal trainer, Michael has realized physical training increases
                    awareness of the inner self, the source of all success. His training system facilitates
                    this connection within his clients, fueling life-­‐changing outcomes.
                    As such,Michael is a dedicated advocate of creating wellness through awareness.
                    Michael meets clients where they live, having worked with individuals from all fitness
                    levels. When a client signs up to train and travel with Michael, he begins with a comprehensive
                    analysis of
                    where the client is at in relationship to the physical rigor required for the trip. He works with
                    the
                    client to ensure personal goals they desire for themselves are incorporated into their fitness plan,
                    so that
                    a mutual investment in the success of that plan is ensured. As the training regime continues,
                    Michael
                    measures success with objective criteria, agreed to in advance with the client. This fuels an
                    increased level of investment in, and ownership of the results as progress is made. Training can be
                    done in
                    person, via Skype, or be sent to the client by video.
                    As the trip start date nears, Michael begins to incorporate more outdoor training opportunities in
                    to the
                    training plan, thereby increasing more confidence in his clients as they visualize these
                    activities directly translating to trip success. Finally, Michael provides expert support so that
                    expectations,
                    required equipment and logistics are communicated and clarified to mitigate any confusion and
                    possible problems in advance of the trip. If needed, Michael can also assist clients with finding
                    and buying
                    trip gear. Throughout trip preparation, Michael solidly invests in his client’s success, opening and
                    developing a differentiating dialog and relationship which translates to a life-­‐changing trip
                    experience with a trusted friend and guide. As a result, clients are enabled to experience adventure
                    travel from the
                    inside out, allowing themselves to move into places within themselves they have perhaps never
                    explored,
                    as they physically experience the natural world. Michael further heightens this travel experience by
                    carefully selecting wilderness and cultural opportunities that are difficult to find elsewhere in
                    the
                    industry. The end result is a WIN/WIN adventure of the highest magnitude.
                    Michael offers several travel options for individuals and groups. For a full list of travel
                    and training options, please review the Current Destinations and Policy links, respectively.
                </p>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="michealModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title">ABOUT MICHEAL GAYLE</h4>
            </div>
            <div class="modal-body">
                <p>
                    Michael Gayle, founder of MGayle Outdoor Adventures, brings passion and enthusiasm to all of
                    his endeavors, professional and personal. He treats every waking moment as an opportunity to
                    learn, contribute and take action. This passion is the driving force behind how Michael sets
                    and achieves his goals. This also enables him to help his clients achieve goals they set for
                    themselves.
                </p>

                <p>
                    Michael’s athletic achievements include in-depth experience in outdoor survival, arctic & Antarctic
                    sailing, personal training, Pilates, amateur boxing, kickboxing, martial arts, wrestling, skiing and
                    cycling. He continues to develop and expand his fitness expertise; sharing this knowledge to support
                    his clients as they strive to reach their own goals. As a former United States Marine, Michael
                    cultivates a disciplined work ethic. His experiences in the military provided a strong foundation
                    that helped him successfully operate MGayle Studio for 10 years. While Michael developed his
                    personal fitness business to the point where he became a sought-after personal trainer, he
                    challenged himself to find innovative ways to train his clients in the out-of-doors. As he developed
                    his outdoor and survival expertise, he became more influential and skilled at planning and leading
                    outdoor adventures, triggering the start of MGayle Outdoor Adventures.
                    Michael doesn’t sit still and wait for life: he experiences it. His loyalty, professionalism,
                    hospitality and expertise are unmatched. He is a catalyst of change, knowing that a deep emotional
                    commitment is at the heart of achieving some of the most ambitious goals. His caring nature and
                    ability to guide and motivate has produced life-changing shifts. Beyond physical goals, his work
                    enables clients to achieve desired mental and spiritual changes through their training and adventure
                    experiences. To Michael, his work with each client is, in reality, an investment in the larger
                    community.
                    Michael’s contributions to his community as a business owner and philanthropist has been
                    acknowledged by the greater business community. He received the 2009 Business Person of the Year
                    Award from the Highland Business Association and Saint Paul Sunrise Rotary. He is a graduate of the
                    St. Paul Area Chamber of Commerce (SPACC) 10-month Leadership Saint Paul Program, and is a two-time
                    finalist for the SPACC’s prestigious Deubener Award.

                </p>
                <h4>Work Experience & Certifications</h4>
                <ul class="list-unstyled margin-bottom-30">
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;20+ years personal training experience</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;Studied Kinesiology, U of MN, Twin Cities</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;Stott Pilates Intensive Matt & Reformer (IMR)
                            Certification</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;Stott Pilates Intensive Matt & Reformer (IMR)
                            Certification</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;Align Pilates Comprehensive 670-hour Certification
                        </p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;30 years outdoor experience; 8 years outdoor
                            leadership experience</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;US Marine Corps, Cold Weather Training, Camp
                            Dawson, West Virginia</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;US Marine Corps, Desert Survival Training, 29
                            Palms, CA </p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;National Outdoor Leadership School,
                            Wilderness-Outdoor First Responder (WOFR) Certification</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;Tom Brown Standard Tracking, Wilderness Survival &
                            Awareness </p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;Tom Brown Advanced Tracking & Awareness, Wilderness
                            Survival & Awareness</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;Tom Brown Scout </p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;American Sailing Association 101 Basic Keelboat
                            Certification</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;American Sailing Association 103 Basic Coastal
                            Cruising Certification</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;5 Star Hospitality Service Experience: The Ritz
                            Carlton Hotel Philadelphia & The Four Seasons Hotel Philadelphia</p>
                    </li>

                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;Elite Fitness Positions: The Marsh Fitness, Spa &
                            Health Center, Minnetonka</p>
                    </li>
                    <li>
                        <p><i class="fa fa-check-square-o"></i>&nbsp;The Minnesota Vikings </p>
                    </li>
                </ul>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>