{% load staticfiles %}
<!-- Our Service -->
<div class="our-service-section text-center g-heading-v8 equal-height-columns" id="about_us">
    <div class="container-fluid">
        <div class="row">
            <!-- Service Info -->
            <div class="col-md-3 our-service-info equal-height-column">
                <h2 class="h2"><strong>About</strong> Us</h2>

                <p>Donec eleifend mauris eu leo varius consectetur. Aliquam luctus a lorem ac rutrum. Cras in nulla
                    id mi ornare vestibulum. Donec et magna nulla. Pellentesque ut ipsum id nibh pretium blandit
                    quis ac erat.</p>
            </div>
            <!-- End Service Info -->

            <div class="col-md-9 our-services-list-wrapper">
                <div class="our-services-list">
                    <!-- Item 1 -->
                    <div class="our-services-list-item equal-height-column">
                        <div class="img-wrapper img-wrapper--shadow"><img
                                src="{% static 'unify_assets/img-temp/services/picjumbo.com_HNCK4183.jpg' %}" alt="ALT"
                                class="img-reposnsive"></div>
                        <h3>VISSION</h3>

                        <p>Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis
                            natoque penatibus et magnis dis</p>
                    </div>
                    <!-- End Item 1 -->

                    <!-- Item 2 -->
                    <div class="our-services-list-item equal-height-column">
                        <div class="img-wrapper img-wrapper--shadow"><img
                                src="{% static 'unify_assets/img-temp/services/picjumbo.com_HNCK8242.jpg' %}" alt="ALT"
                                class="img-reposnsive"></div>
                        <h3>MISSION</h3>

                        <p>In finibus vehicula lorem, in tempor diam convallis non. Curabitur vel risus vitae urna
                            auctor aliquam.</p>
                    </div>
                    <!-- End Item 2 -->

                    <!-- Item 3 -->
                    <div class="our-services-list-item equal-height-column">
                        <div class="img-wrapper img-wrapper--shadow"><img
                                src="{% static 'unify_assets/img-temp/services/picjumbo.com_IMG_6358.jpg' %}" alt="ALT"
                                class="img-reposnsive"></div>
                        <h3>WHY TRAVEL WITH US</h3>

                        <p>Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis
                            natoque penatibus et magnis dis</p>
                    </div>
                    <!-- End Item 3 -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Our Service -->