{% load staticfiles %}

<div class="row no-padding equal-height-columns">
    <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2">
        <div class="equal-height-column" style="height: 444px;">
            <img class="img-responsive" src="{% static 'unify_assets/img/greece-2.jpg' %}" alt="">
        </div>
    </div>

    <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2">
        <div class="equal-height-column g-heading-v8" style="height: 444px;">
            <br>

            <h2 class="no-top-space no-margin-bottom">
                <strong>Vision</strong>
            </h2>

            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                rhoncus ut, imperdiet a, venenatis vitae, justo.</p>

            <h2 class="no-margin-bottom">
                <strong>Mission</strong>
            </h2>

            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                rhoncus ut, imperdiet a, venenatis vitae, justo.
            </p>
                        <h2 class="no-margin-bottom">
                <strong>Why Travel</strong> With US
            </h2>

            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                rhoncus ut, imperdiet a, venenatis vitae, justo.
            </p>
        </div>
    </div>
</div>