<!-- Contact Section -->
<div class="contact-section text-center g-heading-v8" id="Contact">
    <div class="container-fluid">
        <div class="row">
            <!-- Map -->
            <div class="col-md-4 contact-section-col">
                <div id="map" class=" contact-section-map"></div>
            </div>
            <!-- End Map -->

            <!-- Contacts -->
            <div class="col-md-4 col-sm-6 contact-section-col contact-section-content g-bg-default-color">
                <h2 class="h2"><em class="block-name">Contact Us</em><br> <strong>Get In</strong> Touch</h2>

                <p class="contact-section-info">Aliquam dapibus quis sapien id pharetra. Vivamus iaculis est vitae
                    libero tempus, in sollicitudin est consectetur porttitor iaculis pretium</p>

                <ul class="list-unstyled address">
                    <li>email: <strong><a href="mailto:marketing@mgayle.com">marketing@mgayle.com</a></strong></li>
                    <li>phone number: <strong>+00000000</strong></li>
                    <li>address: <strong>MGayle Adress</strong></li>
                </ul>

                <ul class="g-social-icons-v2 margin-bottom-30">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- End Contacts -->

            <!-- Ask Block -->
            <div class="col-md-4 col-sm-6 contact-section-col contact-section-content">
                <h3 class="h3"><strong>Have A </strong> Questions?</h3>

                <form action="#" class="sky-form" method="post" id="sky-form3">
                    <fieldset>
                        <label class="input g-mb-10">
                            <input type="text" placeholder="Your name" name="name" id="name">
                        </label>
                        <label class="input g-mb-10">
                            <input type="text" placeholder="Your phone" name="phone" id="phone">
                        </label>
                        <label class="input g-mb-10">
                            <input type="text" placeholder="Subject" name="subject" id="subject">
                        </label>
                        <label class="textarea textarea-expandable g-mb-40">
                            <textarea rows="3" placeholder="Message" name="message" id="message"></textarea>
                        </label>
                        <button class="btn-u btn-u-lg btn-u-red btn-u-upper" type="submit">Send Message</button>
                    </fieldset>

                    <!-- Success Message -->
                    <div class="message">
                        <i class="rounded-x fa fa-check"></i>

                        <p>Your message was successfully sent!</p>
                    </div>
                </form>
            </div>
            <!-- End Ask Block -->
        </div>
    </div>
</div>
<!-- End Contact Section -->