{% load staticfiles %}
<!-- Footer Section -->
<div class="footer g-pt-40 g-pb-40">
    <div class="container">
        <div class="g-display-table">
            <div class="g-display-td g-text-middle page-scroll"><a href="#body" class="footer-logo"><img
                    src="{% static 'unify_assets/img/mgayle-logo.jpg' %}" alt="ALT"></a></div>
            <div class="g-display-td g-text-middle text-right g-pt-10">&copy; 2017 All right reserved. Developed by
                <a href="http://www.whitecanvassoft.com">White Canvas Software</a></div>
        </div>
    </div>
</div>
<!-- End Footer Section -->