{% load staticfiles %}

<!-- Popular Tours Section -->
<div class="future_tours text-center g-heading-v8" id="future_tours">
    <div class="container content">
        <br>

        <h2 class="h2"><strong>Future</strong> Destinations</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="g-mb-70 color-black">
                    These trips will be available beginning in 2018
                </p>
            </div>
        </div>
        <div class="row text-left">
            <!-- Item 1 -->
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img
                            src="{% static 'unify_assets/img-temp/interesting/picjumbo.com_IMG_6358.jpg' %}" alt="ALT"
                            class="img-responsive"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Length <strong>10 Days</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3>The Rocky Mountains</h3>

                            <p>Date: July 9-21, 2017</p>
                        </div>
                    </div>
                    <a href="#" class="popular-tours-item__more">More</a>
                </div>
            </div>
            <!-- End Item 1 -->

            <!-- Item 2 -->
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img
                            src="{% static 'unify_assets/img-temp/interesting/picjumbo.com_IMG_6358.jpg' %}" alt="ALT"
                            class="img-responsive"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Length <strong>10 Days</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3>The Appalachian Trails</h3>

                            <p>Date: July 9-21, 2017</p>
                        </div>
                    </div>
                    <a href="#" class="popular-tours-item__more">More</a>
                </div>
            </div>
            <!-- End Item 2 -->

            <!-- Item 3 -->
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img
                            src="{% static 'unify_assets/img-temp/interesting/picjumbo.com_IMG_6358.jpg' %}" alt="ALT"
                            class="img-responsive"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Length <strong>10 Days</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3>The Boundary Waters</h3>

                            <p>Date: July 9-21, 2017</p>
                        </div>
                    </div>
                    <a href="#" class="popular-tours-item__more">More</a>
                </div>
            </div>
            <!-- End Item 3 -->

            <!-- Item 4 -->
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img
                            src="{% static 'unify_assets/img-temp/interesting/picjumbo.com_IMG_6358.jpg' %}" alt="ALT"
                            class="img-responsive"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Length <strong>10 Days</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3>Zion, Bryace and the Grand Canyon</h3>

                            <p>Date: July 9-21, 2017</p>
                        </div>
                    </div>
                    <a href="#" class="popular-tours-item__more">More</a>
                </div>
            </div>
            <!-- End Item 4 -->

            <!-- Item 5 -->
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img
                            src="{% static 'unify_assets/img-temp/interesting/picjumbo.com_IMG_6358.jpg' %}" alt="ALT"
                            class="img-responsive"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Length <strong>10 Days</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3>The Oregon Coast</h3>

                            <p>Date: July 9-21, 2017</p>
                        </div>
                    </div>
                    <a href="#" class="popular-tours-item__more">More</a>
                </div>
            </div>
            <!-- End Item 5 -->

            <!-- Item 6 -->
            <!-- End Item 6 -->
        </div>
    </div>
</div>
<!-- End Popular Tours Section -->