<div class="content-md" id="testimonials">

    <div class="testimonials-bs bg-image-v2 parallaxBg1 g-heading-v8 g-pt-85 g-pb-30"
         style="background-position: 50% -1px;">
        <div class="container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>My partner and I hired Michael as a personal trainer as part of our new year's resolution
                                in 2007. We worked with him for almost six months until moving across the country. I
                                credit Michael with helping me break through both physical and mental barriers that I
                                had in place with regard to working out and exercising. He is part fitness coach, part
                                life coach and all around great guy. Michael always kept things fresh and different in
                                the gym and that really kept me excited to go back.</p>
                            <span class="author">Annie Cull</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>In getting to know Michael over the last year, I have found that Michael is a genuine
                                professional who cares about his clients, friends and colleagues. He has high integrity,
                                is very knowledgeable within his profession/business and is a motivated & disciplined
                                individual. <br>

                                I would recommend that those looking for personal training, wellness coaching and
                                on-going fitness consider talking to Michael.
                            </p>
                            <span class="author">Jason Plank</span>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>I enlisted Michael's expertise as a personal trainer and Pilates expert to deal with a
                                painful lower-back issue. Michael was able to stabilize and strengthen my core such that
                                my back pain went away within a few weeks of starting to work with him. I maintain my
                                posture and pain-free back by doing a specially-designed exercise program Michael
                                created for me every morning. I highly recommend Michael for his ability to quickly
                                translate into manifest reality the fitness goals of his clients. He is an up-and-rising
                                star in the Personal Training industry.</p>
                            <span class="author">Gretchen Hansen</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Integrity is Michael Gayle's middle name. I would trust Michael with any work situation.
                                He is motivational and hard working. He is a visionary and insightful.
                                I highly recommend Michael!!
                            </p>
                            <span class="author">David Patterson</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael is the kind of person who not only teaches his passion, he lives it. Michael
                                demonstrates through his own life that bringing health and wellness through exercise can
                                be fun and approached on many different levels. Michael can help the individual find
                                something he or she really likes doing physically so that exercise and movement become a
                                way of life rather than just another thing one "should' do. He's the best!</p>
                            <span class="author">Ginny Cone </span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael has the ideal personality for a personal trainer and business owner. If he can’t
                                motivate you and get your energy up, I don’t know who could. I highly recommend Michael
                                for his energy and enthusiasm in helping others!</p>
                            <span class="author">Joe Springer </span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael is an idea man who could motivate a bear in the dead of winter. It is no wonder
                                that he has long-time, committed clients due to his dedication and enthusiasm. I don't
                                want to sound cliche, because in this case, it's true: Michael always gives 100+% to
                                every client and project he is working on. Having worked with him on a business level
                                and seeing him interact with his clients, I would highly recommend him. He will reach -
                                and help his clients reach - any goals that are set forth.</p>
                            <span class="author">Gretchen Hansen</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael is an idea man who could motivate a bear in the dead of winter. It is no wonder
                                that he has long-time, committed clients due to his dedication and enthusiasm. I don't
                                want to sound cliche, because in this case, it's true: Michael always gives 100+% to
                                every client and project he is working on. Having worked with him on a business level
                                and seeing him interact with his clients, I would highly recommend him. He will reach -
                                and help his clients reach - any goals that are set forth.</p>
                            <span class="author">Lisa McCue Janusz</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>I've known Michael through our association in Toastmasters International. Michael's
                                personality is winning and winsome, a great combination for anyone seeking to improve
                                his or her life through fitness, leadership and communication skills.<br>

                                Michael has great attention to detail and to individuals. When he and I talk, I know I
                                have his undivided attention with a sincere interest in what's happening in my world.
                                You can't emphasize those traits and skills enough in any business relationship. <br>

                                I highly recommend that anyone who wants personalized service connect with Michael soon!
                            </p>
                            <span class="author">Keith Hardy</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael is incredibly energetic. He has a way of transferring his energy to you in a way
                                that is inspiring and motivational. He is very passionate about his work and is
                                extremely knowledgeable. He really cares about his clients' well-being. I would not
                                hesitate to recommend Michael as a Personal Trainer.</p>
                            <span class="author">Jessica White</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael is a truly extraordinary physical educator - but he is more than that, as well.
                                He is a business and community leader, and a person of integrity. I recommend his
                                services to anyone who seeks personal support and expertise to be their best</p>
                            <span class="author">Chad Weinstein</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael and I been members of Leadership class of St.Paul. We worked together on the
                                'Farmers Market' project at Highland Park. I was impressed with Michael’s outgoing
                                social skills, dedication to any business that he always runs with passion, and people
                                management style. Michael always cares about other people first and does it in the way
                                that motivates others with his smile and intelligence creating positive working
                                atmosphere. I would recommend Michael for any type of business. He is the person who you
                                always can rely upon and would like to have in a team. See him every day it just simple
                                pleasure and great inspiration for any business.</p>
                            <span class="author">Inna Tobak</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>It's really tough to be limited to only picking 3 attributes! I had periodic back spasms,
                                general pain, and a general feeling of slowing down - seems to happen when you clear 50
                                or so. It was starting to affect my activities and lifestyle. Michael taught me to
                                strengthen my core, and exercise techniques that I still use daily. My chiropractic
                                visits have been mostly eliminated, I feel better, and have far more endurance to do the
                                things that I want to do. <br>

                                Michael is personable and expert at what he does. He comes up with creative ways to
                                stimulate you and keep your exercise from becoming routine. I would highly recommend him
                                to anyone wanting to enjoy their daily life more.
                                Thank you Michael
                            </p>
                            <span class="author">Ted Wentink</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael is an amazing trainer who cares for his clients physical progress and emotional
                                health. He is 100% committed to my total improvement.</p>
                            <span class="author">Tricia Schulte</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael is one of the most passionate people I have ever met! He is someone who truly
                                believes in everyone’s abilities to accomplish their goals. His community involvements,
                                through his studio, are truly exemplary. MGayle Studios helped raise over $20,000 for
                                our food shelf through a Pilates for a Purpose fundraiser, which was the creation of
                                Michael. He is truly amazing!</p>
                            <span class="author">Armando Camacho</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael brings to the training a diverse set of skills, which makes for each session
                                being different; challenging in new ways and fun in new ways. His attitude is
                                infectiously enthusiastic. He shows respect and concern when my physical limitations are
                                encountered, though he isn't deterred from expecting progress, given the right pacing
                                and technique. That's important when you're over 60 like me, because I found out from
                                training on my own that I could incur injury from using poor form. Working with an
                                experienced trainer is safer and more effective.<br>
                                Michael has a special interest in physical activity in the outdoors. Seeing and
                                experiencing how training effects show up in real-world applications keeps my motivation
                                strong. He's helped me to do more, do it safely, and maintain a can-do outlook.
                            </p>
                            <span class="author">Bill Spring </span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael is just terrific! He is extremely knowledgeable and tailors every workout to each
                                of his clients. I have seen a significant increase in my level of fitness since I've
                                worked with Michael. Added to all that, he's enthusiastic and so supportive of each step
                                forward. He's the best</p>
                            <span class="author">Gretchen August</span>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2><strong>CUSTOMER</strong> SAY'S</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>

                            <p>Michael Gayle taught me how to embrace fitness with creativity, hard work, and
                                consistency. He is a highly knowledgeable fitness leader! Michael motivated the deepest
                                parts of me to become passionate about caring for my body. I am a 36 year old woman who
                                regularly gets hit on by men who are over 10 years younger than me. That is a real self
                                esteem booster! Without Michael's passion, I don't know that I would have been able to
                                look at fitness with love, but probably would have believed (like many) that it's just
                                something I have to do. Michael has shown me how to independently and safely workout
                                with weights. He never made me feel different because I am a woman, so it is not
                                intimidating to workout in a majority weight lifting, male population. Michael taught me
                                gym etiquette. He taught me how to love training outdoors by rollerblading, hiking and
                                running.<br>
                                Lastly, thanks to Michael's energy, knowledge, and passion, over 7 years ago, I became a
                                certified personal trainer as well. I have been passing the passion and love of fitness
                                to my clients.<br>
                                Michael is truly a professional personal trainer. The moment you meet him, it it quite
                                likely that you will feel like you are in great hands. Get ready to change your life and
                                your approach towards fitness. Michael can help you reach your fitness goals. I have met
                                many trainers over the years and none can compare with Michael. He is the best
                            </p>
                            <span class="author">Michelle Mednini</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a class="right carousel-control-v2" href="#carousel-example-generic" data-slide="next">
                        <i class="rounded-x fa fa-angle-left"></i>
                    </a>
                    <a class="left carousel-control-v2" href="#carousel-example-generic" data-slide="prev">
                        <i class="rounded-x fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>