{% load staticfiles %}
<!-- to control the slider edit 'unify_assets/js/plugins/promo.js'-->
<!-- Promo Section -->
<div class="promo-section master-slider ms-promo-1" id="masterslider-promo">

    <!-- Slide 1 -->
    <div class="ms-slide">
        <img src="{% static 'unify_assets/plugins/master-slider/masterslider/style/blank.gif' %}"
             data-src="{% static 'unify_assets/img-temp/promo/picjumbo.com_vranov-czech-republic.jpg' %}" alt="ALT">

{#        <div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;"#}
{#             data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo"#}
{#             data-duration="2200">#}
{#            Only From <strong>$150.00</strong>#}
{#        </div>#}
        <h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text"
            data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
            Karlovy Vary, Czech
        </h3>

        <div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text"
             data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
            <p class="g-mb-20 hidden-sm hidden-xs">Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc
                venenatis risus in finibus dapibus. Ut ac massa sodales, mattis enim id, efficitur tortor.</p>

            <p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to Karlovy Vary, Czech</span></a>
            </p>
        </div>
    </div>
    <!-- End Slide 1 -->

    <!-- Slide 2 -->
    <div class="ms-slide">
        <img src="{% static 'unify_assets/plugins/master-slider/masterslider/style/blank.gif' %}"
             data-src="{% static 'unify_assets/img-temp/promo/photo-1420655710207-b092e1b8abe3.jpg' %}" alt="ALT"/>

        <div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;"
             data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo"
             data-duration="2200">
            Only From <strong>$550.00</strong>
        </div>
        <h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text"
            data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
            London, Great Britain
        </h3>

        <div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text"
             data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
            <p class="g-mb-20 hidden-sm hidden-xs">Donec erat urna, tincidunt at leo non risus in finibus dapibus. Ut ac
                massa sodales, mattis enim id, efficitur tortor.</p>

            <p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to London, Great Britain</span></a>
            </p>
        </div>
    </div>
    <!-- End Slide 2 -->

    <!-- Slide 3 -->
    <div class="ms-slide">
        <img src="{% static 'unify_assets/plugins/master-slider/masterslider/style/blank.gif' %}"
             data-src="{% static 'unify_assets/img-temp/promo/greece-2.jpg' %}" alt="ALT">

        <div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;"
             data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo"
             data-duration="2200">
            Only From <strong>$360.00</strong>
        </div>
        <h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text"
            data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
            Crete, Greece
        </h3>

        <div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text"
             data-delay="10" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
            <p class="g-mb-20 hidden-sm hidden-xs">Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc
                venenatis risus in finibus dapibus. </p>

            <p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to Crete, Greece</span></a>
            </p>
        </div>
    </div>
    <!-- End Slide 3 -->


</div>
<!-- End Promo Section -->

