{% load staticfiles %}

<div class="row no-padding equal-height-columns g-heading-v8">

    <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2 no-padding">
        <div class="equal-height-column" style="height: 444px;">
            <img class="img-responsive" src="{% static 'unify_assets/img/greece-2.jpg' %}" alt="">
        </div>
    </div>

    <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2 our-service-info no-padding">
        <div class="equal-height-column " style="height: 444px;">
            <div class="infoblock-content">
                <h2 class="no-top-space"><strong>Travel</strong> Resources</h2>

                <ul class="list-unstyled margin-bottom-30">
                    <li>
                        <h4 class="color-white"><i class="fa fa-file-text-o"></i><a href="#"> Trip Forms</a></h4>
                    </li>
                    <li>
                        <h4 class="color-white"><i class="fa fa-legal"></i><a href="#"> Terms and Conditions</a>
                        </h4>
                    </li>
                    <li>
                        <h4 class="color-white"><i class="fa fa-plus-square-o"></i><a href="#"> Policies</a></h4>
                    </li>
                    <li>
                        <h4 class="color-white"><i class="fa fa-dollar"></i><a href="#"> Pricing</a></h4>
                    </li>
                    <li>
                        <h4 class="color-white"><i class="fa fa-video-camera"></i><a href="#"> Wildlife and Nature
                            Videos</a></h4>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>